# Ignora tudo por padrão
*

# Não ignora arquivos principais do projeto
!.gitignore
!server.mjs
!frontend/
!frontend/index.html
!frontend/style.css
!frontend/app.js
!frontend/template.csv
!img/

# Ignora arquivos e pastas desnecessários
node_modules/
.wwebjs_auth/
.wwebjs_cache/
upload.csv