# Não ignora os arquivos principais do projeto
!server.mjs
!frontend/
!frontend/index.html
!frontend/style.css
!frontend/app.js
!frontend/template.csv
!img/

# Ignora tudo o resto
*

# Mas não ignora o próprio .gitignore
!.gitignore

# Ignora arquivos e pastas desnecessários
.wwebjs_auth/
.wwebjs_cache/
node_modules/
upload.csv